<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Web Login</title>
  <meta name="description" content="simple web login with qrcode">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{static('styles.css')}}">
</head>

<body>

    <div id="scan-me">
      <div class="container">        
        <h1 class="text-center">Web Login</h1>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">            
            <h4>User Login Information</h4>
            <p> {{message}}</p>
          </div>
          
        </div>
      </div>
    </div>
    
</body>
</html>